// buttons styles
// ------------------------------------------------------------

.btn { 
	display: inline-block;
	line-height: 1;
	padding: .3em .5em;
	background: $greyColor;
	color: #fff;
	border-radius: $borderRadius;
	&:hover { 
		cursor: pointer; 
		color: #fff;
		// background: $blueColor !important;
	}
	&.btnAction {
		font-size: 1.5em;
		background: $orangeColor;
		padding: 0.5em 1.5em;
		border: 0;
	}
}

input type[text],
textarea 
{
	border-color: $borderColor;
}