

// base styles
// ----------------------------------------------------------------------


html {  
	
	font-size: 14px;
	color: $textColor;

	// @include breakpoint(1020) { background: #eee; }
	@include breakpoint($screenSizeD) { 
		background: #333; 
		font-size: 16px; 
	}
	// @include breakpoint(480) { background: #999; }
}

body {
	
}

* {
  @include box-sizing(border-box);
}


// common
// -----------------------------------------------------------
h1, h2, h3, h4, h5, h6 { font-weight: normal; }
a { 
	text-decoration: none;
	color: $linkColor;
	&:hover { color: $orangeColor; }
}
.fLt { float: left; }
.fRt { float: right; }

// fonts
* { line-height: 1.3; }
// fix fonts render issue in FF and Chrome
body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


// sticky footer
// -----------------------------------------------------------
body, html { 
	height: 100%; 
	margin: 0;
	padding: 0;
}
.pageBottom, 
.pageTop:after {
    height: $footerHeight - 1;
}
.pageTop {
    min-height: 100%;
    margin-bottom: -$footerHeight; 
    &:after {
		content: "";
		display: block;
    }
}


// page wrapper
// -----------------------------------------------------------
.pageWrapper {
	width: ($screenSizeD - 20) + px;
	margin: 0 auto;
	padding: 0 10px;
	@include breakpoint($screenSizeD) {
		width: 100%;
	}
}


// page header
// -----------------------------------------------------------
.pageHeader {
	
	@extend %clearFix;

	padding: 20px 0 10px;
	margin-bottom: 40px;
	border-bottom: 1px solid $borderColor;
	
	.logo { float: left; }

	.userMenu { 
		float: right;
		> div {
			vertical-align: top;
			display: inline-block;
		}
	}

	// navigation adjustment
	.mainNav { 
		float: right;
		text-align: right;
	}
	.userNav {  
		padding-bottom: 10px;
	}
	.siteNav {
		a { font-size: 1.2em; }
	}

	// user pic
	.usrPic { 
		margin-left: 10px;
		border: 1px solid $borderColor;
		padding: 2px;
		img {
			width: 32px;
			height: 32px;
		}
	}
}


// page footer
// -----------------------------------------------------------
.pageBottom { background: #eee; } // #687990; }
.pageFooter {
	text-align: center;
	padding: 0;
	nav { padding-top: 20px; }
}


// main navigation
// -----------------------------------------------------------
.mainNav {
	
	ul { 
		@extend %inlineList;
		font-size: 0; 
	}
	
	li {
		font-size: .9rem;
		line-height: 1;
		padding: 0 10px;
		border-right: 1px solid $borderColor;
	
		&:last-child { 
			border: none;
			padding-right: 0;
		}
		&:first-child {
			padding-left: 0;
		}
		a {
			display: block;
			text-transform: uppercase;
		}

		&.active {
			a {
				color: #000 !important;
				cursor: default;
			}
		}
	}
}


// userThumb
// -----------------------------------------------------------
.userThumb,
.photoThumb { 
	img {
		@include box-sizing(border-box);
		display: block;
		width: 100%;
		height: 100%;
		border: 1px solid $borderColor; 
	}
}


// timeStamp
// -----------------------------------------------------------
.timeStamp { 
	color: $textGrey; 
	font-size: 0.8em;
}


// usersList 
// users thumbs size needs to be adgusted to parent container
// -----------------------------------------------------------
.usersList {
	@extend %inlineList;
	li {
		position: relative;
		// default width
		width: 128px;
		margin: 0 20px 20px 0;
	}
	.userThumb {
		margin-bottom: 5px;
	}
	.userName {
		display: block;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		margin-right: 20px;
		font-size: 0.8em;
	}
	.bookmarkUser {
		float: right;
	}
}


// page sidebar
// -----------------------------------------------------------
.pageSidebar {
	background: #eee;
	> h2 { 
		padding: 15px 10px;
		margin: 0 0 15px;
		border-bottom: 1px solid #fff;
	}
	section {
		padding: 0 0 10px 10px;
		border-bottom: 1px solid #fff;
		margin-bottom: 20px;
		> h4 {
			margin: 0 0 1em;
		}
	}
}


// input checkbox labels
// -----------------------------------------------------------
.checkboxLabel {
	position: relative;
	input {
		position: absolute;
		z-index: 0;
		opacity: 0;
		+ label { 
			position: relative;
			z-index: 1;
			background: #ccc;
			margin: 0 3px 5px 0 !important;
			padding: 0.1em 0.5em;
			line-height: 1;
		}
		&:checked {
			+ label { 
				background: $blueColor;
				color: #fff;
			}
		}	
	}
}


// status labels
// -----------------------------------------------------------
.statusLabel {
	background: $greyColor;
	padding: 0.1em 0.5em;
	font-size: 0.8em;
	color: #fff;
	line-height: 1em;
	border-radius: $borderRadius;
	text-transform: uppercase;
	&.new {
		background: $orangeColor;
	}
}


// user messages
// -----------------------------------------------------------
.listMessages {
	$thumbSize: $thumbSizeL;
	dl {
		@include box-sizing(border-box);
		min-height: $thumbSize + 10;
		padding-bottom: 10px;
		margin-bottom: 10px;
		border-bottom: 1px solid $borderColor;
	}
	dt,dd {
		margin: 0;
		padding: 0;
	}
	dt {
		float: left;
		width: $thumbSize;
		height: $thumbSize;
		img { 
			width: 100%;
			height: 100%;
		}
	}
	dd {
		margin-left: $thumbSize + 10;
		display: block;
		padding-bottom: .5em;
	}
	.message {
		display: block;
		font-size: 1em;
	}
	.messageDetails {
		font-size: 0.9em;
		> span {
			display: inline-block;
			margin-right: 5px;
			padding-right: 10px;
			border-right: 1px solid $borderColor;
			&:last-child { border: 0 }
		}
	}
}


// page > ARTISTS
// -----------------------------------------------------------
.pageArtists {
	
	.artistsFilter { 
		label { 
			position: relative;
			display: inline-block;
			margin: 0 10px 10px 0;
			font-size: 0.9em;
			input { margin-right: 5px; }
		}
		h1, h3 { margin-top: 0; }
		h3 {  }
	}

	.searchArtist {
		margin-bottom: 20px;
		input[type="text"] {
			width: 100%;
			padding: 10px;
			font-size: 1.2em;
		}
	}
}


// page > DASHBOARD
// -----------------------------------------------------------
.pageDashboard {

	.listPendingOrders {
		@extend %clearFix;
		margin-bottom: 60px;
	}
}

// pending orders
.pendingOrder {
	@include box-sizing(border-box);
	$thumbSize: $thumbSizeXL;
	min-height: $thumbSize + 20;
	background: $lightGreyColor;
	border: 1px solid $borderColor;
	width: 49%;
	padding: 10px; 
	float: left;
	margin: 0 2% 20px 0;
	&:nth-of-type(even) { margin-right: 0; }
	.userThumb {
		float: left;
		width: $thumbSize;
		height: $thumbSize;
	}
	.orderDetails {
		font-size: 0.8em;
		margin-left: $thumbSize + 10;
	}
	.recentUpdate {
		display: inline-block;
		font-size: 1.1rem;
		padding-left: 10px;
		border-left: 1px solid $borderColor;
		margin-left: 5px;
	}

	@include breakpoint($screenSizeD) {
		float: none;
		width: 100%;
	}
}


// page > BIDDING
// -----------------------------------------------------------
.biddingContainer {

	$thumbSize: $thumbSizeXL;
	@extend %clearFix;
	@include box-sizing(border-box);

	background: $lightGreyColor;
	border: 1px solid $borderColor;

	.userThumb {
		float: left;
		width: $thumbSize;
		height: $thumbSize;
	}
	
	// bidding overview container
	.biddingOverview {

		@include clearfix();

		padding: 10px;

		> div {
			float: left;
			width: 48%;
			min-height: $thumbSize + 20;
			&:nth-of-type(even) {
				float: right;
			}
		}

		dl {
			@include clearfix();
			margin: 0;
			padding: 0;
		}
		dt, dd {
			margin: 0;
			padding: 0;
		}
		dt { float:  left; }
		dd {
			margin-left: $thumbSize + 10;
			display: block;
			font-size: 0.9em;
		}
		.btn {
			display: block;
			width: 100%;
			margin-top: 10px; 
			text-align: center; 
			padding: 0.5em 0.3em;
			font-size: 1.5em;
			&.btnAgree {
				background: $orangeColor;
			}

		}
		input[type="text"] {
			width: 100%;
			text-align: center;
			font-size: 1.5em;
			border: 0;
			padding: 0.5em 0;
			margin-top: 5px;
			&:disabled {
				background: #ddd;
			}
		}

		.youno {
			input {
				font-size: 1.7em;
				padding: 0.4em 0;
				color: #000;
			}
		}
	}


	// bidding history
	.biddinHistory {

		position: relative;
		margin: 20px 0;
		
		> h4 {
			position: relative;
			text-align: center;
			line-height: 1em;
			font-size: 0.7em;
			text-transform: uppercase;
			> span { 
				position: relative;
				z-index: 1;
				padding: 0 20px;
				background: $lightGreyColor;
			}
			&:before {
				@include make-block(100%,1px);
				top: 50%;
				background: $borderColor;
			}
		}

		ul {
			margin: 0;
			padding: 0;
			list-style: none;
		}
		li {
			position: relative;
			display: block;
			margin: 0;
			padding: 0;
			padding-right: 50%;
			font-size: 0.8em;
			> div {
				padding: 10px;
			}
			&:before {
				@include make-block(1px,100%);
				top: 0;
				right: 50%;
				background: $borderColor;
			}
			&:after {
				@include make-block(3%,1px);
				top: 15px;
				right: 50%;
				background: $borderColor;
			}
			&.youno {
				text-align: right;
				padding-right: 0;
				padding-left: 50%;
				&:after {
					right: 47%;
				}
			}
			.recentUpdate {
				font-size: 1.1em;
				display: block;
				margin-top: 3px;
				img {
					display: block;
					border: 1px solid $borderColor;
					width: 100%;
					margin: 5px 0;
				}
			}
		}

		&:not(.expand) {
			ul:not(first-child) {
				display: none;
			}
			.expandHistory span {
				@include arrow("down", $borderColor, 5);
				top: 10px;
			}
		}
		&.expand {
			.expandHistory span {
				@include arrow("up", $borderColor, 5);
				bottom: 10px;
			}
		} 
	}

	// expand history
	.expandHistory {
		position: absolute;
		cursor: pointer; 
		bottom: -30px;
		left: 50%;
		margin-left: -20px;
		display: block;
		width: 40px;
		height: 20px;
		background: $lightGreyColor;
		border: 1px solid $borderColor;
		border-radius: 0 0 $borderRadius $borderRadius;
		border-top: 0;
		text-align: center;
		span {
			position: relative;
		}
	}

}

// accept order
.acceptOrder {

	margin-bottom: 40px;
	text-align: center;

	.photoToAccept {
		border: 1px solid $borderColor;
		text-align: center;
		img { max-height: 300px; }
	}

	.otherPhotos {
		@include inline-list();
		$thumbSize: $thumbSizeXL;
		text-align: left;
		li { margin-top: 5px; }
		.photoThumb img {
			width: auto; 
			height: $thumbSize;
		}
	}

	.acceptPrice {
		margin: 40px 0 20px 0;
	}
	.btn {
		font-size: 1.6em;
		padding-left: 2em;
		padding-right: 2em; 
		background: $orangeColor;
		margin: 20px 0;
	}

}



// chat
// -----------------------------------------------------------
.chatContainer {
	
	$thumbSize: $thumbSizeS;

	.userThumb {
		float: left;
		width: $thumbSize;
		height: $thumbSize;
	}

	.sendMessage {
		text-align: right;
		margin-bottom: 30px;
		textarea {
			display: block;
			width: 100% !important;
			min-height: 100px;
			margin-bottom: 10px;
		}
		.btn {
			background: $orangeColor;
			padding: 5px 20px;
		}
	}

	dl {
		@include clearfix();
		margin: 0 0 7px;
		padding: 0;
	}
	dt, dd {
		@include box-sizing(border-box);
		margin: 0;
		padding: 0;
	}
	dt { float:  left; }
	dd {
		margin-left: $thumbSize + 10;
		margin-right: 10px;
		display: block;
		font-size: 0.9em;
		background: $lightGreyColor;
		padding: 3px 5px;
		margin-bottom: 3px;
	}
	dl.you {
		dt { float: right; }
		dd {
			margin-right: $thumbSize + 10;
			margin-left: 10px;
		}
	}
	.timeStamp {
		display: block;
	}
}
